.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-md-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.justify-content-center {
  justify-content: center;
}
.align-item-center {
  align-items: center;
}
.order-md-1 {
  order: 1;
}
.order-md-2 {
  order: 2;
}
.flex-column {
  flex-direction: column !important;
}
.d-flex {
  display: flex !important;
}
h2, h4, h1, p {
  margin-top : 0;
  margin-bottom: 0.5rem;
  /* font-size: 2rem; */
}
h2 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h1 {
  font-size: 6rem;
}
.ml-3 {
  margin-left: 1rem !important;
}
.mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}
.pb-2, .py-2 {
  padding-bottom: .5rem !important;
}
.pt-2, .py-2 {
  padding-top: .5rem !important;
}
.overflow-auto {
  overflow: auto !important;
}
.flex-row {
  flex-direction: row !important;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}
.border-top {
  border-top: 1px solid #dee2e6 !important;
}
.pl-4, .px-4 {
  padding-left: 1.5rem !important;
}
.pr-4, .px-4 {
  padding-right: 1.5rem !important;
}
.text-primary {
  color: #007bff !important;
}
.h-25 {
  height: 25%;
}
.weather-img {
  max-width: 75px;
}
.img-fluid {
  /* max-width: 100%; */
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
figure {
  margin: 0 0 1rem;
}
figure{
  display: block;
}
.text-align-center {
  text-align: center;
}
p {
  margin-bottom: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-10 {
  margin-top: 10rem;
  left: 0;
}
.list-group-flush > .list-group-item {
  border-width: 0 0 1px;
}
.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.weather-description {
  border-bottom: none !important;
}
.text-white {
  color: #fff !important;
}
.text-md-center {
  text-align: center !important;
}
.pl-md-2, .px-md-2 {
  padding-left: .5rem !important;
}
.pl-2, .px-2 {
  padding-left: .5rem !important;
}
.pr-2, .px-2 {
  padding-right: .5rem !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.bg-dark {
  background-color: #343a40 !important;
}
.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col {
  width: 100%;
}
.pb-5, .py-5 {
  padding-bottom: 3rem !important;
}
.pt-5, .py-5 {
  padding-top: 3rem !important;
}
.bg-dark {
  background-color: #343a40 !important;
}
.order-md-4 {
  order: 4;
}
.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.col-md-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.containercurr {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.text-muted {
  color: #6c757d !important;
}
small {
  font-size: 80%;
  font-weight: 400;
}
.font-weight-normal {
  font-weight: 400 !important;
}
.mb-0, .my-0 {
  margin-bottom: 0 !important;
}
h5 {
  font-size: 1.25rem;
}
h5 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
h5 {
  margin-top: 0;
  margin-bottom: .5rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.flex-md-row {
  flex-direction: row !important;
}
.border-dark {
  border-color: #343a40 !important;
}
.list-group-flush {
  border-radius: 0;
}
.w-72 {
  width: 15%;
}
.mt-5, .my-5 {
  margin-top: 3rem !important;
}
.order-md-5 {
  order: 5;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}
.pb-md-0, .py-md-0 {
  padding-bottom: 0 !important;
}
.pt-md-0, .py-md-0 {
  padding-top: 0 !important;
}
.pl-0, .px-0 {
  padding-left: 0 !important;
}
.pr-0, .px-0 {
  padding-right: 0 !important;
}
.text-left {
  text-align: left !important;
}
.d-xl-block {
  display: block !important;
}
.text-right {
  text-align: right !important;
}